html {
  background-color: rgb(245, 250, 255);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Reenie Beanie', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  font-size: xx-large;
}

#resume {
  margin-left: 100px;
  margin-right: 100px;

}

#contact {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
}

a {
  color: black
}

#projects-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#project-card {
  margin: 10px;
  box-shadow: 10px 5px 5px rgb(0, 25, 25)
}